In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('/Users/badrinathsanagavaram/Desktop/Election Data Analysis/Data/raw-data/2024-election-dataset-raw.csv')
df.head(10)

,Unnamed: 0,State,No.,Name,Type,Candidate,Party,%,Votes,Candidate.1,Party.1,%.1,Votes.1,%.2,Votes.2
0,0,Andhra Pradesh,2,Srikakulam,OC,Kinjarapu Ram Mohan Naidu,TDP,61.05%,"7,54,328",Perada Tilak,YSRCP,34.51%,"4,26,427",26.54%,"3,27,901"
1,1,Andhra Pradesh,3,Vizianagaram,OC,Appalanaidu Kalisetti,TDP,57.20%,"7,43,113",Bellana Chandra Sekhar,YSRCP,38.00%,"4,93,762",19.19%,"2,49,351"
2,2,Andhra Pradesh,4,Visakhapatnam,OC,Mathukumilli Bharat,TDP,65.42%,"9,07,467",Botsa Jhansi Lakshmi,YSRCP,29.07%,"4,03,220",36.35%,"5,04,247"
3,3,Andhra Pradesh,5,Anakapalli,OC,C. M. Ramesh,BJP,57.50%,"7,62,069",Budi Mutyala Naidu,YSRCP,35.13%,"4,65,539",22.37%,"2,96,530"
4,4,Andhra Pradesh,6,Kakinada,OC,Tangella Uday Srinivas,JSP,54.87%,"7,29,699",Chalamalasetti Sunil,YSRCP,37.62%,"5,00,208",17.26%,"2,29,491"
5,5,Andhra Pradesh,7,Amalapuram,SC,Ganti Harish Madhur,TDP,61.25%,"7,96,981",Rapaka Vara Prasada Rao,YSRCP,34.95%,"4,54,785",26.30%,"3,42,196"
6,6,Andhra Pradesh,8,Rajahmundry,OC,Daggubati Purandeswari,BJP,54.82%,"7,26,515",Guduri Srinivas,YSRCP,36.77%,"4,87,376",18,"2,39,139"
7,7,Andhra Pradesh,9,Narasapuram,OC,Bhupathi Raju Srinivasa Varma,BJP,57.46%,"7,07,343",Guduri Umabala,YSRCP,34.98%,"4,30,541",22.48%,"2,76,802"
8,8,Andhra Pradesh,10,Eluru,OC,Putta Mahesh Yadav,TDP,54%,"7,46,351",Karumuri Sunilkumar Yadav,YSRCP,40.84%,"5,64,494",13.16%,"1,81,857"
9,9,Andhra Pradesh,11,Machilipatnam,OC,Vallabhaneni Balashowry,JSP,55.22%,"7,24,439",Simhadri Chandrasekhar Rao,YSRCP,38.21%,"5,01,260",17.01%,"2,23,179"

In [3]:
df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
df['Type'].replace({
    'OC':'GEN'
},inplace=True)

In [5]:
df.head(10)
df.drop(columns='No.', inplace=True)

In [6]:
df.head(5)

,State,Name,Type,Candidate,Party,%,Votes,Candidate.1,Party.1,%.1,Votes.1,%.2,Votes.2
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61.05%,"7,54,328",Perada Tilak,YSRCP,34.51%,"4,26,427",26.54%,"3,27,901"
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57.20%,"7,43,113",Bellana Chandra Sekhar,YSRCP,38.00%,"4,93,762",19.19%,"2,49,351"
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65.42%,"9,07,467",Botsa Jhansi Lakshmi,YSRCP,29.07%,"4,03,220",36.35%,"5,04,247"
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57.50%,"7,62,069",Budi Mutyala Naidu,YSRCP,35.13%,"4,65,539",22.37%,"2,96,530"
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54.87%,"7,29,699",Chalamalasetti Sunil,YSRCP,37.62%,"5,00,208",17.26%,"2,29,491"

In [7]:
df.rename(columns={
    'Candidate': 'Winning Candidate',
    'Party' : 'Winning Party',
    '%' : 'Winning Percentage',
    'Votes' : 'Winner\'s Votes',
    'Candidate.1': 'Runner Up Candidate',
    'Party.1': 'Runner Up Party',
    '%.1': 'Runner Up Percentage',
    'Votes.1': 'Runner Up Votes',
    '%.2' : 'Margin %',
    'Votes.2': 'Margin Votes'
}, inplace=True)
df.head(5)

,State,Name,Type,Winning Candidate,Winning Party,Winning Percentage,Winner's Votes,Runner Up Candidate,Runner Up Party,Runner Up Percentage,Runner Up Votes,Margin %,Margin Votes
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61.05%,"7,54,328",Perada Tilak,YSRCP,34.51%,"4,26,427",26.54%,"3,27,901"
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57.20%,"7,43,113",Bellana Chandra Sekhar,YSRCP,38.00%,"4,93,762",19.19%,"2,49,351"
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65.42%,"9,07,467",Botsa Jhansi Lakshmi,YSRCP,29.07%,"4,03,220",36.35%,"5,04,247"
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57.50%,"7,62,069",Budi Mutyala Naidu,YSRCP,35.13%,"4,65,539",22.37%,"2,96,530"
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54.87%,"7,29,699",Chalamalasetti Sunil,YSRCP,37.62%,"5,00,208",17.26%,"2,29,491"

In [8]:
df.nunique()

State                    36
Name                    539
Type                      3
Winning Candidate       541
Winning Party            42
Winning Percentage      483
Winner's Votes          541
Runner Up Candidate     542
Runner Up Party          43
Runner Up Percentage    492
Runner Up Votes         542
Margin %                505
Margin Votes            542
dtype: int64

In [9]:
df.dtypes

State                   object
Name                    object
Type                    object
Winning Candidate       object
Winning Party           object
Winning Percentage      object
Winner's Votes          object
Runner Up Candidate     object
Runner Up Party         object
Runner Up Percentage    object
Runner Up Votes         object
Margin %                object
Margin Votes            object
dtype: object

In [10]:
df['Margin %'] = df['Margin %'].str.replace('%', '').astype(float).astype(int)

In [11]:
df.head(5)

,State,Name,Type,Winning Candidate,Winning Party,Winning Percentage,Winner's Votes,Runner Up Candidate,Runner Up Party,Runner Up Percentage,Runner Up Votes,Margin %,Margin Votes
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61.05%,"7,54,328",Perada Tilak,YSRCP,34.51%,"4,26,427",26,"3,27,901"
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57.20%,"7,43,113",Bellana Chandra Sekhar,YSRCP,38.00%,"4,93,762",19,"2,49,351"
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65.42%,"9,07,467",Botsa Jhansi Lakshmi,YSRCP,29.07%,"4,03,220",36,"5,04,247"
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57.50%,"7,62,069",Budi Mutyala Naidu,YSRCP,35.13%,"4,65,539",22,"2,96,530"
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54.87%,"7,29,699",Chalamalasetti Sunil,YSRCP,37.62%,"5,00,208",17,"2,29,491"

In [12]:
df['Runner Up Percentage'] = df['Runner Up Percentage'].str.replace('%', '').astype(float).astype(int)
df['Winning Percentage'] = df['Winning Percentage'].str.replace('%', '').astype(float).astype(int)

In [13]:
df.head(5)

,State,Name,Type,Winning Candidate,Winning Party,Winning Percentage,Winner's Votes,Runner Up Candidate,Runner Up Party,Runner Up Percentage,Runner Up Votes,Margin %,Margin Votes
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61,"7,54,328",Perada Tilak,YSRCP,34,"4,26,427",26,"3,27,901"
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57,"7,43,113",Bellana Chandra Sekhar,YSRCP,38,"4,93,762",19,"2,49,351"
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65,"9,07,467",Botsa Jhansi Lakshmi,YSRCP,29,"4,03,220",36,"5,04,247"
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57,"7,62,069",Budi Mutyala Naidu,YSRCP,35,"4,65,539",22,"2,96,530"
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54,"7,29,699",Chalamalasetti Sunil,YSRCP,37,"5,00,208",17,"2,29,491"

In [14]:
df['Winner\'s Votes'] = df['Winner\'s Votes'].str.replace(',', '').astype(float).astype(int)

In [15]:
df['Margin Votes'] = df['Margin Votes'].str.replace(',', '').astype(float).astype(int)

In [16]:
df['Runner Up Votes'] = df['Runner Up Votes'].str.replace('[, ]', '', regex=True).astype(int)

In [17]:
df.head(5)

,State,Name,Type,Winning Candidate,Winning Party,Winning Percentage,Winner's Votes,Runner Up Candidate,Runner Up Party,Runner Up Percentage,Runner Up Votes,Margin %,Margin Votes
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61,754328,Perada Tilak,YSRCP,34,426427,26,327901
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57,743113,Bellana Chandra Sekhar,YSRCP,38,493762,19,249351
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65,907467,Botsa Jhansi Lakshmi,YSRCP,29,403220,36,504247
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57,762069,Budi Mutyala Naidu,YSRCP,35,465539,22,296530
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54,729699,Chalamalasetti Sunil,YSRCP,37,500208,17,229491

In [18]:
df.dtypes

State                   object
Name                    object
Type                    object
Winning Candidate       object
Winning Party           object
Winning Percentage       int64
Winner's Votes           int64
Runner Up Candidate     object
Runner Up Party         object
Runner Up Percentage     int64
Runner Up Votes          int64
Margin %                 int64
Margin Votes             int64
dtype: object

In [19]:
df.isnull().sum()

State                   38
Name                     0
Type                     0
Winning Candidate        0
Winning Party            0
Winning Percentage       0
Winner's Votes           0
Runner Up Candidate      0
Runner Up Party          0
Runner Up Percentage     0
Runner Up Votes          0
Margin %                 0
Margin Votes             0
dtype: int64

In [20]:
df[['State', 'Name']][df['State'].isna() == True]

    State                       Name
78    NaN             Janjgir-Champa
87    NaN     Dadra And Nagar Haveli
125   NaN       Bhiwani–Mahendragarh
132   NaN           Anantnag-Rajouri
138   NaN                    Kodarma
145   NaN                  Lohardaga
146   NaN                    Palamau
189   NaN                Mavelikkara
194   NaN                      Bhind
198   NaN                  Tikamgarh
200   NaN                  Khajuraho
203   NaN                      Sidhi
204   NaN                    Shahdol
211   NaN                     Bhopal
212   NaN                    Rajgarh
231   NaN           Bhandara-Gondiya
232   NaN          Gadchiroli-Chimur
234   NaN            Yavatmal-Washim
266   NaN       Ratnagiri-Sindhudurg
299   NaN                   Ferozpur
353   NaN             Mayiladuthurai
361   NaN                Thoothukudi
365   NaN                 Peddapalli
393   NaN         Gautam Buddh Nagar
423   NaN               Kanpur Urban
463   NaN  Nainital-Udhamsingh Nagar
470   NaN              Maldaha Uttar
471   NaN            Maldaha Dakshin
477   NaN                    Bangaon
478   NaN                 Barrackpur
479   NaN                    Dum Dum
480   NaN                    Barasat
481   NaN                   Basirhat
482   NaN                   Joynagar
483   NaN                 Mathurapur
484   NaN            Diamond Harbour
502   NaN         Bardhaman-Durgapur
504   NaN                     Bolpur

In [21]:
missing_constituency_to_state = {
    'Janjgir-Champa': 'Chhattisgarh',
    'Dadra And Nagar Haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'Bhiwani–Mahendragarh': 'Haryana',
    'Anantnag-Rajouri': 'Jammu and Kashmir',
    'Kodarma': 'Jharkhand',
    'Lohardaga': 'Jharkhand',
    'Palamau': 'Jharkhand',
    'Mavelikkara': 'Kerala',
    'Bhind': 'Madhya Pradesh',
    'Tikamgarh': 'Madhya Pradesh',
    'Khajuraho': 'Madhya Pradesh',
    'Sidhi': 'Madhya Pradesh',
    'Shahdol': 'Madhya Pradesh',
    'Bhopal': 'Madhya Pradesh',
    'Rajgarh': 'Madhya Pradesh',
    'Bhandara-Gondiya': 'Maharashtra',
    'Gadchiroli-Chimur': 'Maharashtra',
    'Yavatmal-Washim': 'Maharashtra',
    'Ratnagiri-Sindhudurg': 'Maharashtra',
    'Ferozpur': 'Punjab',
    'Mayiladuthurai': 'Tamil Nadu',
    'Thoothukudi': 'Tamil Nadu',
    'Peddapalli': 'Telangana',
    'Gautam Buddh Nagar': 'Uttar Pradesh',
    'Kanpur Urban': 'Uttar Pradesh',
    'Nainital-Udhamsingh Nagar': 'Uttarakhand',
    'Maldaha Uttar': 'West Bengal',
    'Maldaha Dakshin': 'West Bengal',
    'Bangaon': 'West Bengal',
    'Barrackpur': 'West Bengal',
    'Dum Dum': 'West Bengal',
    'Barasat': 'West Bengal',
    'Basirhat': 'West Bengal',
    'Joynagar': 'West Bengal',
    'Mathurapur': 'West Bengal',
    'Diamond Harbour': 'West Bengal',
    'Bardhaman-Durgapur': 'West Bengal',
    'Bolpur': 'West Bengal'
}

In [22]:
df['State'] = df['State'].fillna(df['Name'].map(missing_constituency_to_state))

In [23]:
df[['State', 'Name']][df['State'].isna() == True]

Empty DataFrame
Columns: [State, Name]
Index: []

In [24]:
df.isna().sum()

State                   0
Name                    0
Type                    0
Winning Candidate       0
Winning Party           0
Winning Percentage      0
Winner's Votes          0
Runner Up Candidate     0
Runner Up Party         0
Runner Up Percentage    0
Runner Up Votes         0
Margin %                0
Margin Votes            0
dtype: int64

In [25]:
df.groupby('State')['Name'].count().sort_values(ascending=False)

State
Uttar Pradesh                               82
Maharashtra                                 49
West Bengal                                 42
Tamil Nadu                                  39
Bihar                                       38
Madhya Pradesh                              29
Karnataka                                   28
Gujarat                                     25
Andhra Pradesh                              25
Rajasthan                                   25
Odisha                                      21
Kerala                                      20
Telangana                                   17
Jharkhand                                   14
Assam                                       14
Punjab                                      13
Chhattisgarh                                11
Haryana                                     10
Delhi                                        7
Uttarakhand                                  5
Jammu and Kashmir                            5
Himachal Pradesh                             3
Dadra and Nagar Haveli and Daman and Diu     2
Manipur                                      2
Meghalaya                                    2
Tripura                                      2
Arunachal Pradesh                            2
Goa                                          2
Sikkim                                       1
Andaman and Nicobar Islands                  1
Puducherry                                   1
Nagaland                                     1
Mizoram                                      1
Ladakh                                       1
Chandigarh                                   1
Lakshadweep                                  1
Name: Name, dtype: int64

In [26]:
df.to_csv('/Users/badrinathsanagavaram/Desktop/Election Data Analysis/Data/2024-transformed-data.csv')

In [27]:
df.head(5)

,State,Name,Type,Winning Candidate,Winning Party,Winning Percentage,Winner's Votes,Runner Up Candidate,Runner Up Party,Runner Up Percentage,Runner Up Votes,Margin %,Margin Votes
0,Andhra Pradesh,Srikakulam,GEN,Kinjarapu Ram Mohan Naidu,TDP,61,754328,Perada Tilak,YSRCP,34,426427,26,327901
1,Andhra Pradesh,Vizianagaram,GEN,Appalanaidu Kalisetti,TDP,57,743113,Bellana Chandra Sekhar,YSRCP,38,493762,19,249351
2,Andhra Pradesh,Visakhapatnam,GEN,Mathukumilli Bharat,TDP,65,907467,Botsa Jhansi Lakshmi,YSRCP,29,403220,36,504247
3,Andhra Pradesh,Anakapalli,GEN,C. M. Ramesh,BJP,57,762069,Budi Mutyala Naidu,YSRCP,35,465539,22,296530
4,Andhra Pradesh,Kakinada,GEN,Tangella Uday Srinivas,JSP,54,729699,Chalamalasetti Sunil,YSRCP,37,500208,17,229491